@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: #F7F7F7;
}
.notePad {
    background-color: white;
    width: 400px;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-weight: 200;
}

.todo
{
    width: 100%;
    line-height: 35px;
    border-bottom: grey solid 1px;
}
.closebutton {
    margin: 0;
    color: red;
    font-weight: 200;
    float: right;
    cursor: pointer;
    opacity: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 200ms;
}

.todo:hover > .closebutton {
    opacity: 100%;

}
.inputfield {
    border:none;
    border-bottom: 1px solid #595a5c;
    padding: 5px 10px;
    outline: none;
}
.itemsleft {
    font-size: 12px;
    color: grey;
}